.country-wrapper {
  color: black;
  min-height: 1080px;
  display: grid;
  grid-template-columns: 550px 610px;
  grid-template-rows: 35px 290px 1fr;
  margin: 0 5rem;
  column-gap: 120px;
  margin-top: 80px;
}

.country-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr;
  column-gap: 100px;
  row-gap: 20px;
  grid-column: 2;
  grid-row: 2;
}

.country-info h2 {
  grid-column: span 2;
  grid-row: 1;
  margin: 0;
  font-weight: 800;
  font-size: 30px;
}

.left-info {
  grid-column: 1;
  grid-row: 2;
}

.left-info p,
.right-info p {
  margin-bottom: 8px;
  font-weight: 700;
}

.left-info span,
.right-info span {
  font-weight: 400;
}

.right-info {
  grid-column: 2;
  grid-row: 2;
}

.country-img {
  grid-column: 1;
  grid-row: span 3;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: block;
}

.country-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
  position: absolute;
}

.border-countries {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 145px 470px;
  align-items: start;
}

.border-countries h3 {
  margin: 0;
  font-size: 16px;
  margin-top: 3px;
}

.border-countries p {
  margin-top: 3px;
}

.border-countries ul {
  margin: 0;
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

.border-countries li {
  padding: 3px 10px;
  background-color: hsl(0, 0%, 98%);
  border: none;
  box-shadow: 0px 0px 4px 0px hsl(0, 0%, 75%);
  width: 80px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5%;
  text-overflow: ellipsis;
}

.border-countries li:hover {
  background-color: hsl(0, 0%, 80%);
  border: 1px solid grey;
}

.border-countries a {
  font-size: 14px;
  font-weight: 400;
}

.return-button {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid transparent;
  box-shadow: 0px 0px 4px 0px hsl(0, 0%, 75%);
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100px;
  height: 20px;
  justify-content: center;
  line-height: 1;
  margin: 0 0 0 5rem;
  cursor: pointer;
  border-radius: 5%;
  margin-top: 80px;
}

.return-button span {
  margin-top: 10px;
}

.return-button a {
  width: 100%;
  margin-bottom: 5px;
  margin-left: 9px;
}

.return-button:hover {
  background-color: hsl(0, 0%, 80%);
  border: 1px solid grey;
}

.fa-arrow {
  margin-right: 4px;
  margin-bottom: -10px;
}

.dark {
  .return-button {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0px 0px 4px 0px black;
  }

  .return-button span {
    color: hsl(0, 0%, 80%);
  }

  .return-button:hover {
    background-color: hsl(209, 23%, 28%);
    border: 1px solid black;
  }
  .country-info h2 {
    color: hsl(0, 0%, 100%);
  }

  .left-info p,
  .right-info p {
    color: hsl(0, 0%, 100%);
  }

  .left-info span,
  .right-info span {
    color: hsl(0, 0%, 80%);
  }

  .border-countries h3 {
    color: hsl(0, 0%, 100%);
  }

  .border-countries li {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0px 0px 4px 0px black;
  }

  .border-countries li:hover {
    background-color: hsl(209, 23%, 28%);
    border: 1px solid black;
  }

  .border-countries p {
    color: hsl(0, 0%, 80%);
  }

  .border-countries a {
    color: hsl(0, 0%, 80%);
  }
}

/* @media (max-width: 1439px) {
  .country-wrapper {
    grid-template-rows: 35px 290px 120px;
  }
  .country-info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr;
    column-gap: 0;
    row-gap: 20px;
  }

  .right-info {
    grid-column: 1;
    grid-row: 3;
  }

  .border-countries {
    grid-column: 2;
    grid-row: 4;
    grid-template-columns: 145px 380px;
  }
} */

@media (max-width: 1438px) {
  .country-wrapper {
    grid-template-rows: 35px 290px 120px;
    grid-template-columns: 40vw;
    column-gap: 50px;
  }
  .country-info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr;
    column-gap: 0;
    row-gap: 20px;
  }

  .right-info {
    grid-column: 1;
    grid-row: 3;
  }

  .border-countries {
    grid-column: 2;
    grid-row: 4;
    grid-template-columns: 145px 1fr;
  }
}

@media (max-width: 951px) {
  .country-wrapper {
    grid-template-columns: 40vw;
    grid-template-rows: 35px 290px 120px;
    margin: 0 5rem;
    margin-top: 80px;
    row-gap: 10px;
  }

  .country-info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr;
    column-gap: 0;
    row-gap: 20px;
  }

  .border-countries {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
  }
}

@media (max-width: 887px) {
  .country-wrapper {
    min-height: 1080px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 5rem;
    margin-top: 80px;
    row-gap: 50px;
  }

  .country-info {
    grid-template-rows: 50px 1fr 1fr;
  }

  .country-img {
    grid-column: 1;
    grid-row: 1;
  }

  .country-info {
    grid-column: 1;
    grid-row: 2;
  }

  .border-countries {
    grid-column: 1;
    grid-row: 3;
  }
}

@media (max-width: 560px) {
  .country-wrapper {
    margin: 0 2rem;
    margin-top: 80px;
  }

  .return-button {
    margin: 0 0 0 2rem;
    margin-top: 80px;
  }
}

@media (min-width: 0px) and (max-width: 443px) {
  .country-img img {
    height: auto;
  }

  .country-img {
    margin-top: 10px;
  }

  .country-wrapper {
    grid-template-rows: 200px 1fr 1fr;
    margin-top: 60px;
  }

  .return-button {
    margin-top: 40px;
  }

  .right-info {
    margin-top: 15px;
  }

  .border-countries {
    margin-top: -70px;
  }
}
