.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px -5px hsl(0, 0%, 52%);
  margin-bottom: 50px;
  padding: 1.5rem 5rem 1.5rem;
  align-items: center;
  background-color: #fff;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: hsl(200, 15%, 8%);
  font-weight: 900;
}

p {
  margin: 0;
  padding: 0;
}

.theme-switcher {
  display: flex;
}

.theme-icon {
  padding: 0 4px;
  margin-bottom: -4px;
  font-size: 18px;
}
