.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px -5px hsl(0, 0%, 52%);
  margin-bottom: 50px;
  padding: 1.5rem 5rem 1.5rem;
  align-items: center;
  background-color: #fff;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.header.hidden {
  transform: translateY(-100%);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: hsl(200, 15%, 8%);
  font-weight: 800;
}

p {
  margin: 0;
  padding: 0;
}

.theme-switcher {
  display: flex;
}

.theme-icon {
  padding: 0 8px;
  margin-bottom: -4px;
  font-size: 18px;
}

.dark {
  .header {
    background-color: hsl(209, 23%, 22%);
  }
  h1 {
    color: hsl(0, 0%, 100%);
  }
}

@media (max-width: 630px) {
  .header {
    margin-bottom: 30px;
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
  }

  h1 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .header {
    margin-bottom: 25px;
    padding: 1.5rem 0rem 1.5rem 1rem;
  }

  h1 {
    font-size: 18px;
  }
}
