.home-page {
  padding: 0rem 5rem;
  min-height: 1080px;
}

.all-countries {
  display: inline-grid;
  grid-template-columns: repeat(4, 263.5px);
  column-gap: 70px;
  row-gap: 70px;
  margin-top: 50px;
}
