.home-page {
  padding: 0rem 5rem;
  min-height: 1080px;
}

.all-countries {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 65px;
  row-gap: 65px;
  justify-items: center;
  margin-top: 50px;
}
